<body ng-app="supportTickets" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="page-header">
        <h1>My Tickets</h1>
      </div>

      <div ng-repeat="ticket in tickets | orderBy:'-upvotes'">
        <div id="box" style="font-size:20px; margin-left:10px;">
            Title: {{ticket.title}} --
            <br>
            Description: {{ticket.description}}
            <br>
            Status: {{ticket.status}}
        </div>
      </div>

      <form ng-submit="addPost()"
        style="margin-top:30px;">
        <h3>Add a new ticket</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Description"
          ng-model="description"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>

    </div>
  </div>
</body>