<!DOCTYPE html>
<html>
<head>
  <title>Support Tickets</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<div ui-view></div>  
<body ng-app="supportTickets" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="page-header">
        <h1>Support Tickets</h1>
      </div>

      <div ng-repeat="ticket in tickets | orderBy:'-upvotes'">
        <span style="font-size:20px; margin-left:10px;">
            Title: {{ticket.title}} --
            Description: {{ticket.description}}
        </span>
      </div>

      <form ng-submit="addPost()"
        style="margin-top:30px;">
        <h3>Add a new ticket</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Description"
          ng-model="description"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>

    </div>
  </div>
</body>
</html>