<!DOCTYPE html>
<html >
<head>
  <title>Support Tickets</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<!-- should this be an ng-include? -->

  <div ng-app="supportTickets" ng-controller="MainCtrl">
    <div class="col-md-6 col-md-offset-3">
      <div ng-include="'home/_nav.html'"></div>
    </div>
    <div ui-view></div>  
  </div>

</html>